<!-- <div class="d-flex flex-column"> -->
    <!-- 
    <div class="p-2 no l">
        <nav class="navbar navbar-dark fixed-top tableColor navbarPadding">
            <a class="navbar-brand" href="#">
                DayDreams 
                <a (click)="logout()" routerlinkactive="active" >
                        <i class="fa fa-sign-out mr-3" href="#"></i>Logout
                    </a>


            </a>
            
        </nav>
    </div> -->


    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark tableColor">

        <!-- Navbar brand -->
        <mdb-navbar-brand><a class="navbar-brand" href="#">DayDreams</a></mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
                </li> -->

                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        User<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a> -->
                        <div class="divider dropdown-divider"></div>
                        <a (click)="logout()" routerlinkactive="active" class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

    <div class="p-2 no">
        <div class="d-flex justify-content-center">
            <div class="p-2 xd">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- <div>
        <button type="button" mdbBtn color="primary" mdbWavesEffect>Create a New Circle</button>
    </div> -->
<!-- </div> -->