<div class="p-2 profile animated fadeInUp d-flex justify-content-center">
  <mdb-card class="content">
    <mdb-card-body>
      <form (submit)="onSubmitPassword(h)" #h=ngForm [formGroup]="changePasswordForm">
        <p class="h4 mb-4">Change Password</p>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" placeholder="New Password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted_password && form_password.password.errors }" />
          <div *ngIf="submitted_password && form_password.password.errors" class="invalid-feedback">
            <div *ngIf="form_password.password.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="form_password.password.errors.required">Please Enter a Password</div>
          </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': submitted_password && changePasswordForm.hasError('notSame') }" />
          <div *ngIf="submitted_password && changePasswordForm.hasError('notSame')" class="invalid-feedback">
            <div *ngIf="changePasswordForm.hasError('notSame')">Passwords Do Not Match</div>
          </div>
          <button mdbBtn color="info" block="true" class="my-4" type="submit">Change Password</button>
        </div>
      </form>

      <!-- Alert Toasts -->
      <div *ngIf="response_msg === 'fatalError'" class="alert alert-danger" role="alert">
        Fatal Error. Please Try Again Later
      </div>
      <div *ngIf="response_msg === 'complete_password'" class="alert alert-success" role="alert">
        Password Successfully Changed
      </div>

      <!-- Home -->
      <p>Done?
        <a routerLink="/home">Home</a>
      </p>

    </mdb-card-body>
  </mdb-card>
</div>