.header{
    font-size:50px;
    margin-top: 35px;
  
}

.circleInfo{
    text-align: left;
    margin-left: 30px;
}

.topMargin{
    margin-top: 60px;
}

.topMargin{
    margin-top: 20px;
}

.img {
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    text-align: left;
    margin-left: 50px;
    overflow: hidden;
  }

  .grid-container-daydreams {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item-daydreams {
    text-align: center;
    margin-left: 50px;
    overflow: hidden;
  }

  .circleTitle{
      font-size: 50px;
  }