<!-- <ul *ngFor="let c of Circle">
  <h1>{{c.chat}}</h1>
  <h1>{{c.numberOfPeople}}</h1>
</ul> -->
<div>


  <div>
    <button mdbBtn type="button" color="primary" mdbWavesEffect (click)=back()> <i class="fa fa-arrow-left"> </i> Back
      to Circles </button>


    <div *ngIf="myCircle" class="mainDiv">
      <h1 class="circleTitle">{{myCircle.circleName}}
      </h1>
      <div class="grid-container">
        <div class="grid-item">
          <img [src]="myCircle.imageUrl" class="cover" />
        </div>

        <div class="grid-item">
          <h4 class="circleTitle adjustLeftMargin">About This Circle <button mdbBtn type="button" color="primary"
              mdbWavesEffect (click)=renderEditCircleName()>Edit Circle <i class="fa fa-edit"> </i></button> <button
              type="button" class="btn btn-danger" (click)=delCir()>Delete Circle <i class="fa fa-trash"> </i></button>

          </h4>
          <div class="adjustLeftMargin">
            <h2>{{myCircle.description}}</h2>

          </div>
          <h1 class="blueLine">__________________________________________________________________</h1>
          <div class="adjustLeftMargin">
            <h4 class="pageHeader">Members of This Circle <button mdbBtn type="button" color="primary" mdbWavesEffect
                onclick="document.getElementById('id02').style.display='block'">Add Member <i class="fa fa-user">
                </i></button></h4>
            <div id="id02" class="w3-modal">
              <div class="w3-modal-content">
                <div class="w3-container">
                  <mdb-card>
                    <mdb-card-body>
                      <form (submit)="addUser(g)" #g="ngForm" class="text-center border border-light p-5"
                        [formGroup]="addUserForm">

                        <h4 class="pageHeader">Add User</h4>

                        <div class="form-group">
                          <input type="text" id="addUser" formControlName="username" class="form-control"
                            placeholder="Username" [(ngModel)]="username"
                            [ngClass]="{ 'is-invalid': submitted && form_add_user.username.errors }">
                          <div *ngIf="submitted && form_add_user.username.errors" class="invalid-feedback">
                            <div *ngIf="form_add_user.username.errors.required">
                              <p style="font-size:15px;">
                                Username is required
                              </p>
                            </div>
                          </div>
                          <div *ngIf="response === 'NoUser'" class="alert alert-danger" role="alert">
                            Username does not exist in our records.
                          </div>
                          <div *ngIf="response === 'Dup'" class="alert alert-danger" role="alert">
                            User is already in this circle.
                          </div>
                          <div *ngIf="response === 'fatalError'" class="alert alert-danger" role="alert">
                            A Fatal Error has occured. Please try again at another time.
                          </div>
                        </div>

                        <button mdbBtn color="info" block="true" class="my-4" type="submit" prevent-default>Add
                          User</button>
                        <button (click)="cancel()" type="button" onclick="document.getElementById('id02').style.display='none'" mdbBtn color="info"
                          block="true" class="my-4">Cancel</button>

                      </form>
                    </mdb-card-body>
                  </mdb-card>
                </div>
              </div>
            </div>
            <h2>Founder: {{myCircle.founder}}</h2>
            <h2>Members: {{myCircle.members}} </h2>
          </div>
          <h1 class="blueLine">__________________________________________________________________</h1>

          <html>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

          <body>
            <div class="w3-container">
              <h4 class="pageHeader">This Circle's DayDreams
                <button onclick="document.getElementById('id01').style.display='block'" mdbBtn type="button"
                  color="primary" mdbWavesEffect>Add A DayDream <i class="fa fa-cloud"> </i> </button>

                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content">
                    <div class="w3-container">
                      <mdb-card>
                        <mdb-card-body>
                          <form (submit)="submitFile(f)" #f="ngForm" class="text-center border border-light p-5"
                            [formGroup]="createForm">

                            <div class="form-group">

                              <h4 class="pageHeader">Create a New Daydream</h4>

                              <input type="text" id="destination" formControlName="destination" class="form-control"
                                placeholder="Where are you going?" [(ngModel)]="destination"
                                [ngClass]="{ 'is-invalid': submitted && form_create.destination.errors }">
                              <div *ngIf="submitted && form_create.destination.errors" class="invalid-feedback">
                                <div *ngIf="form_create.destination.errors.required">
                                  <p style="font-size:15px;">
                                    DayDream Destination is required
                                  </p>
                                </div>
                              </div>

                              <input type="text" id="description" formControlName="description" class="form-control"
                                placeholder="Describe your daydream" [(ngModel)]="description"
                                [ngClass]="{ 'is-invalid': submitted && form_create.description.errors }">
                              <div *ngIf="submitted && form_create.description.errors" class="invalid-feedback">
                                <div *ngIf="form_create.description.errors.required">
                                  <p style="font-size:15px;">
                                    DayDream Description is required
                                  </p>
                                </div>
                              </div>

                              <input type="text" id="totalCost" formControlName="totalCost" class="form-control"
                                placeholder="Please enter the total cost for this excursion" [(ngModel)]="totalCost"
                                [ngClass]="{ 'is-invalid': submitted && form_create.totalCost.errors }">
                              <div *ngIf="submitted && form_create.totalCost.errors" class="invalid-feedback">
                                <div *ngIf="form_create.totalCost.errors.required">
                                  <p style="font-size:15px;">
                                    DayDream Cost is required
                                  </p>
                                </div>
                                <div *ngIf="form_create.totalCost.errors.pattern">
                                  <p style="font-size:15px;">
                                    DayDream Cost must be a number
                                  </p>
                                </div>
                              </div>

                            </div>

                            <button mdbBtn color="info" block="true" class="my-4" type="submit" prevent-default>Create
                              Daydream</button>
                            <button (click)="cancel()" type="button" onclick="document.getElementById('id01').style.display='none'" mdbBtn color="info"
                              block="true" class="my-4">Cancel</button>

                          </form>
                        </mdb-card-body>
                      </mdb-card>
                    </div>
                  </div>
                </div>
              </h4>
            </div>
          </body>

          </html>
          <div class="grid-container-daydreams">
            <div *ngFor="let d of dayDreams" id="daydreams" class="topMargin cardProperties grid-item-daydreams"
              (click)="renderDayDream(d)">
              <h1>{{d.destination}}</h1>
              <div class="circleInfo">

              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>


  <!-- <button type="button" class="btn btn-danger" (click)=delCir(myCircle)>Delete Circle</button> -->


  <!-- <ul *ngFor="let c of Circle">
    <h1>{{c.numberOfPeople}}</h1>
  </ul> -->

</div>

<button (click)="getMessages()">Messages</button>
<div *ngFor="let m of messages">
  <b>{{m.user}}</b>:
  {{m.message}}
</div>

<br>

<input #box placeholder="Add message" (keyup.enter)="addMessage(box.value)">
<br>
Only works right now if you hit enter, idk how to make it work with a button
<br>
But you can add and get messages with these buttons, have to do a lot of css 