<!-- <ul *ngFor="let c of Circle">
  <h1>{{c.chat}}</h1>
  <h1>{{c.numberOfPeople}}</h1>
</ul> -->


<div>

  
  <div *ngIf="myCircle">
    <h4 class="pageHeader">{{myCircle.circleName}}</h4>
    
    <div class="circleInfo">
      <mdb-card>
          <mdb-card-body>
    <h2>Founder: {{myCircle.founder}}</h2>  
    <h2>Number of Members: {{myCircle.numberOfPeople}}</h2>
    <h2>Members: {{myCircle.members}}</h2>
    <button type="button" class="btn btn-danger" (click)=delCir(myCircle)>Delete Circle</button>
    <button mdbBtn type="button" color="primary" mdbWavesEffect (click)=back()>Back to Circles</button>
   </mdb-card-body>
  </mdb-card>
  </div>

 

  </div> 

  <div  class="topMargin">
      <h4  class="pageHeader">{{myCircle.circleName}}'s DayDreams</h4>
      <div class="circleInfo">
      
    </div>
  
    </div> 

 


  <!-- <ul *ngFor="let c of Circle">
    <h1>{{c.numberOfPeople}}</h1>
  </ul> -->

</div>