.header{
    font-size:50px;
    margin-top: 35px;
  
}

.circleInfo{
    text-align: left;
    margin-left: 30px;
}

.topMargin{
    margin-top: 60px;
}

.topMargin{
    margin-top: 20px;
}

.img {
    float: left;
}

.cover {
  object-fit: cover;
  width: 500px;
  height: 500px;
  margin-left: 7px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    text-align: left;
    margin-left: 50px;
    overflow: hidden;
  }

  .grid-container-daydreams {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
  }
  .grid-item-daydreams {
    text-align: center;
    margin-left: 50px;
    overflow: hidden;
  }

  .circleTitle{
      font-size: 50px;
  }

  .adjustLeftMargin{
      margin-left: 20px;
  }

  .blueLine{
      color: rgb(0, 176, 255);
  }

#daydreams{
    transition-duration: 2s ease-in-out;
}

#daydreams:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.overflowTest {
    background: rgb(219, 238, 244);
    color: black;
    padding: 15px;
    width: 75%;
    height: 200px;
    overflow: scroll;
    border: 1px solid #ccc;
    margin-left: 7px;
    border-radius: 18px;

  }

.messagesButton{
    width: 75%;
    border-radius: 10px;
}

.messagesInput{
    width: 70%;
    margin-left:7px;
    margin-bottom: 7px;
    border-radius: 10px;
    height: 38px;
}

.iconSize{
    font-size: 35px;
    color: rgb(0, 176, 255);
    margin-left: 10px;
}