<!-- <p class="mb-4 h1">About Us</p> -->

<div class="p-2 profile animated fadeInUp">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">
      <!--Panel-->
      <div class="card card-body mb-3">
        <div class="media d-block d-md-flex">
          <div class="media-body pr-md-3 pr-0 text-center text-md-left">
            <p align="center" class="mb-4 h3">About</p>
            <p>Planning a trip can often be very complicated and exhausting. Several logistical factors come into play,
              such as cost, location, date and time, lodging, excursions and transportation. Groups of people often
              find themselves overwhelmed when attempting to organize such trips.
            </p>
            <p>
              Our platform seeks to provide a workspace in which groups can clearly organize their ideas for more
              effective planning, by putting a clear goal in mind for the trip in terms of finances, travel logistics,
              and excursions.
            </p>
          </div>
        </div>
      </div>
      <!--/.Panel-->
      <!--Panel-->
      <div class="card card-body mb-3">
        <div class="media d-block d-md-flex">
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
            <p align="center" class="mb-4 h3">Open Source</p>
            <p>This Project was created for CS408 Software Testing at Purdue University. This project is open source,
              and can be found on
              GitHub.</p>
            <div class="text-center text-md-center">
              <a type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect href="https://github.com/connortodd21/DayDreams"><i
                  class="fab fa-github left"></i>Github</a>
            </div>
          </div>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!-- Grid column -->




    <!-- Grid column -->
    <div class="col-md-10 col-lg-9 col-xl-6 mb-r">
      <!--Panel-->
      <div class="card mb-3">
        <h3 class="card-header tableColor white-text text-uppercase text-center">About Us</h3>
        <div class="card-body">

          <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
            <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars1.githubusercontent.com/u/22382569?s=460&v=4"
              alt="Generic placeholder image">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify" class="mb-4 h3">Connor Todd</p>
              <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
              <div class="text-center text-md-center">
                <!-- <button type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button> -->
              </div>
            </div>
          </div>

          <div class="media d-block d-md-flex">
            <div class="media-body mr-md-3 mr-0">
              <p align="right" class="mb-4 h3">Ken Sodetz</p>
              <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
              <div class="text-center text-md-center">
                <!-- <button type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button> -->
              </div>
            </div>
            <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars1.githubusercontent.com/u/22857253?s=460&v=4"
              alt="Generic placeholder image">
          </div>

          <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
            <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars0.githubusercontent.com/u/22642932?s=460&v=4"
              alt="Generic placeholder image">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify" class="mb-4 h3">Julien San Diego</p>
              <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
              <div class="text-center text-md-center">
                <!-- <button type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button> -->
              </div>
            </div>
          </div>

          <div class="media d-block d-md-flex">
            <div class="media-body mr-md-3 mr-0">
              <p align="right" class="mb-4 h3">Cyrus Santiago</p>
              <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
              <div class="text-center text-md-center">
                <!-- <button type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button> -->
              </div>
            </div>
            <img class="d-flex mr-3 mb-md-0 mb-3 mt-md-0 mt-4 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars3.githubusercontent.com/u/21361821?s=460&v=4"
              alt="Generic placeholder image">
          </div>

          <div class="media d-block d-md-flex mt-md-0 mt-4 mb-4">
            <img class="d-flex mb-md-0 mb-3 avatar-2 rounded-circle z-depth-1 mx-auto" src="https://avatars0.githubusercontent.com/u/14943649?s=460&v=4"
              alt="Generic placeholder image">
            <div class="media-body ml-md-3 ml-0">
              <p align="justify" class="mb-4 h3">Ryan Walden</p>
              <p align="justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis
                est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis
                voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</p>
              <div class="text-center text-md-center">
                <!-- <button type="button" color="black" mdbBtn class="btn-git waves-light" mdbWavesEffect><i class="fab fa-github left"></i>Github</button> -->
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--/.Panel-->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</div>