.blueLine{
    color: rgb(0, 176, 255);
}

.cost{
    color: rgb(45, 173, 45);
    font-size: 20px;
}

.cardClean{
    padding:20px;
    width: 300px;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }

  .header{
      font-size: 50px;
  }

  .trashIcon{
    color: red;
    margin-left: 200px;
  }